/*--全ページ共通--*/
@font-face{
    font-family: 'hannari';
    src: url("./hannari/hannari.otf") format('opentype'); 
}/*プラグインした、はんなり明朝というwebフォントです。*/

*{
    margin:0px;
    padding:0px; 
}

html{
    height:100%;
}

body{
    height:100%;
    margin:0 auto; 
    display:block;
}
/*--背景画像--*/
#image-wrap{
	position:relative;
	background-image:url("backhome.jpg");
	background-size:cover;
	width:1800px;
	height:1000px;
    z-index:-5;/*--背景画像の上に要素を置けるようにする処理--*/ 
}

#icon{
    position:absolute;
    top:15px;
    left:45px;
}


#header-wrapper{
	position:absolute;
	left:200px;
    top:30px;
    width:1300px;
	border-bottom:1px solid black;
}


header ul{
	clear:both;
    float:left;
}

header li{
	float:left;
	line-height:50px;
	list-style:none;
	padding-left:180px;
    font-family:'hannari';
	font-size:25px;
	
}

header a{
    color:black; 
    text-decoration:none;
}

/*--ここまで共通--*/
.container{ 
margin-top: 150px;    
margin-right:350px;
margin-left:350px;    
}

/*クリアフィックス（レイアウトが崩れなくするため）*/
.clearfix:after;{
content:"";
display:block;
clear:both;
}
/*見出し*/
.heading{
font-size:30px;/*フォントの大きさ*/
font-family:'hannari';
padding:10px;
padding-bottom:30px;
text-align: center;
}

.text-center{
text-align: center;
}

table{
font-family:'hannari'; 
border-collapse: collapse;
border-spacing:0;
border: 1px solid #000;
width: 100%;
box-sizing: border-box;
padding:8px 220px;
    
}

table th{
border-left:1px solid #000;
border-bottom:1px solid #000;
margin-bottom:30px;
padding:10px 30px; 
color:black;
text-align:center;
white-space:nowrap;
}

table td{
border-left:1px solid #000;
border-bottom:1px solid #000;
font-family:'hannari';
padding: 10px 30px;
text-align: center;
white-space:nowrap;
}






/*--ボタンデザイン--*/
button{
    font-family:'hannari';
    font-size:110%; 
    padding:10px 30px;
    color:white;
    /*--ボタンの影指定--*/
    border-style:none;
    box-shadow:1px 1px 2px #000; 
    -moz-box-shadow:2px 2px 3px 1px #666;
    -webkit-box-shadow:2px 2px 3px 1px #666;
    /*--テキストの色指定--*/
    text-shadow:1px 1px 2px #000;
    background:-moz-linear-gradient(bottom,#000,#000 50%,#000);
    background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.5,#000),to(#000));
    /*--角丸指定--*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.table2{
    margin-top:30px; 
}

.container2{
    font-family:'hannari'; 
    position:absolute;
    margin:50px 320px;
    padding-left:600px; 
    width:20%;
}

.container2 p{
    font-family:'hannari';
    width: 100%;
    border-bottom:1px solid #000;  
}





.movement{
    position:absolute; 
    margin-top:650px;
    margin-left:680px;
    text-align: center;
}


/*--ボタンデザイン--*/
.pay .productlist{   
    font-family:'hannari';
    font-size:110%; 
    padding:10px 30px;
    color:white;
    /*--ボタンの影指定--*/
    border-style:none;
    box-shadow:1px 1px 2px #000; 
    -moz-box-shadow:2px 2px 3px 1px #666;
    -webkit-box-shadow:2px 2px 3px 1px #666;
    /*--テキストの色指定--*/
    text-shadow:1px 1px 2px #000;
    background:-moz-linear-gradient(bottom,#000,#000 50%,#000);
    background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.5,#000),to(#000));
    /*--角丸指定--*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:30px;
}


#footer-menu{
	position:absolute;
    bottom:-35px; 
	left:155px;
	width:80%;
	border-top:1px solid black;
}


#inquiry{
    position:absolute;
	left:90px;
    line-height:50px;
	font-family:'hannari';
    font-size:120%; 
}

footer a{
    color:black;
    text-decoration:none;
}

#company{
    position:absolute;
    right:90px;
    font-family:'hannari';
    font-size:120%; 
    line-height:50px;
    
}









